{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ blog.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'user-detail' blog.author.pk %}">{{ blog.author }}</a></p>

  <p><strong>Post Date:</strong> {{ blog.post_date }}</p>
  <p> {{ blog.content|safe }}</p>
<form action="{% url 'like-blog' blog.pk %}" method="POST">
  {% csrf_token %}
  <button type="submit", name=" blog_id", value
          =" {{ blog.id}}", class="btn btn-secondary
           btn-sm ">Like</button>
  {{blog.total_likes}} Likes
</form>


  <div style="margin-left:40px;margin-top:50px">
    <h5> <strong> Comments</strong></h5>
      <p> Comment Here
          <a class="btn btn-secondary" href="{% url 'add-comment' blog.pk %}">Comment</a> </p>
  {% if blog.comment_set.all %}
    {% for comment in blog.comment_set.all %}
      <hr>
      <p> <strong> {{comment.userc}}</strong> {{comment.comment_date}}
      </p>
      <p3> {{ comment.text }}</p3>
    {% endfor %}
      {% else %}
      <p3>There are no comments yet in this blog.</p3>
  {% endif %}
  </div>
    <br/> <br/> <br/> <br/> <br/> <br/>

<a class="btn btn-secondary" href="{% url 'blogs' %} ">Back</a>
{% endblock %}