{% extends "base_generic.html" %}

{% block content %}
  <h1>Female Influencer Blog</h1>
  <p>Welcome to The Female Influencer , a fast-growing and engaging community of female professionals on a mission to celebrate female leadership and women empowerment. We are here to inspire the future generation of female leaders. </p>
  <p>The Blog has the following record counts:</p>
  <ul>
    <li><strong>Blogs:</strong> {{ num_blogs }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p> You have visited this page {{num_visits}} times.</p>
{% endblock %}

